.section-speciality {
    height: 330px;
    background: #fff;

    .section-container {
        height: 100%;
        margin: 0 50px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            padding-top: 15px;

            .section-title {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section-more {
                float: right;
                padding: 0px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }

        .section-body {
            .img-customize {
                img {
                    width: 100% !important;
                    padding-right: 10px !important;
                    text-align: center;
                }
            }
            // Reset slick slider css
            .slick-prev {
                border: 2px solid #d7d7d7 !important;
                left: -10 !important;
                z-index: 1000 !important;
                height: 44px !important;
                width: 48px !important;
                background: #fff !important;

                &:hover {
                    background: #e6e2e2 !important;
                }

                &::before {
                    color: red !important;
                }
            }

            .slick-next {
                border: 2px solid #d7d7d7 !important;
                right: +10 !important;
                height: 44px !important;
                width: 48px !important;
                background: #fff !important;

                &:hover {
                    background: #e6e2e2 !important;
                }

                &::before {
                    color: red !important;
                }
            }
        }
    }
}
